*{
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;700&display=swap');
body{
  background-color: #111;
  color: #fff;
  margin: 0;
  font-family: 'Roboto';
}
.lists{
  margin-top: -120px;
}
footer{
  margin: 50px 0;
  text-align: center;
}